
<div class="container">
  <% if @apps %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Apple ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @apps.each do |app| %>
          <tr>
            <td width="40%"><%= link_to app.appleId, :controller => "apps", :action => "show", :id => app.appleId %></td>
            <td><%= link_to app.name, :controller => "apps", :action => "show", :id => app.appleId %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    No Apps!
  <% end %>
</div>