<div class="container">
  <form>
    <legend>Send a Push Notification</legend>
    <label>Title</label>
    <input type="text" placeholder="The title...">
    <span class="help-block">The title of the notification.</span>
    <textarea rows="6"></textarea>
    <button type="submit" class="btn"><i class="icon-share-alt"></i>Send</button>
  </form>
</div>