<!DOCTYPE html>
<html>
<head>
  <title>PushCmsRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">Push CMS</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Apps</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
